In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV

/Users/yichenh/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/yichenh/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/yichenh/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/Users/yichenh/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
train = pd.read_csv('train.csv')

In [3]:
test = pd.read_csv('test.csv')

In [4]:
train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [5]:
train['Exter Qual'].value_counts()

TA    1247
Gd     697
Ex      81
Fa      26
Name: Exter Qual, dtype: int64

In [6]:
train['Exter Cond'].value_counts()

TA    1778
Gd     215
Fa      49
Ex       7
Po       2
Name: Exter Cond, dtype: int64

In [9]:
dummies = pd.get_dummies(train[['Exter Qual','Exter Cond']])
train = train.join(dummies)

In [10]:
train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,SalePrice,Exter Qual_Ex,Exter Qual_Fa,Exter Qual_Gd,Exter Qual_TA,Exter Cond_Ex,Exter Cond_Fa,Exter Cond_Gd,Exter Cond_Po,Exter Cond_TA
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,130500,0,0,1,0,0,0,0,0,1
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,220000,0,0,1,0,0,0,0,0,1
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,109000,0,0,0,1,0,0,1,0,0
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,174000,0,0,0,1,0,0,0,0,1
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,138500,0,0,0,1,0,0,0,0,1

In [11]:
# inspect the following columns of interest: 
# 'Full Bath', 'Half Bath', 'Year Built', 'Overall Cond', 'Bedroom AbvGr'
train[['Full Bath', 'Half Bath', 'Year Built', 'Overall Cond', 'Bedroom AbvGr']].head()

   Full Bath  Half Bath  Year Built  Overall Cond  Bedroom AbvGr
0          2          1        1976             8              3
1          2          1        1996             5              4
2          1          0        1953             7              3
3          2          1        2006             5              3
4          2          0        1900             8              3

In [12]:
train['house age'] = train['Yr Sold'] - train['Year Built']

In [14]:
train['baths'] = train['Full Bath']+(.5*train['Half Bath'])

In [16]:
train['weighted beds'] = train['Overall Cond']*train['Bedroom AbvGr']

In [22]:
features = ['weighted beds','baths','house age']
features.extend(list(dummies.columns))

In [23]:
features

['weighted beds',
 'baths',
 'house age',
 'Exter Qual_Ex',
 'Exter Qual_Fa',
 'Exter Qual_Gd',
 'Exter Qual_TA',
 'Exter Cond_Ex',
 'Exter Cond_Fa',
 'Exter Cond_Gd',
 'Exter Cond_Po',
 'Exter Cond_TA']

In [39]:
X = train[features]
y = train['SalePrice']

In [40]:
X_train, X_holdout, y_train, y_holdout = train_test_split(X,y,random_state=23)

In [41]:
ss = StandardScaler()

In [42]:
X_train_sc = ss.fit_transform(X_train)
X_holdout_sc = ss.transform(X_holdout)

/Users/yichenh/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/yichenh/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/yichenh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.

In [43]:
enet = ElasticNet()

enet.fit(X_train_sc,y_train)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [45]:
enet.score(X_train_sc,y_train)

0.5897847710190605

In [44]:
enet.score(X_holdout_sc,y_holdout)

0.625119842301051

In [48]:
y_holdout_predict = enet.predict(X_holdout_sc)
y_train_predict = enet.predict(X_train_sc)

In [49]:
# define a function to calculate RMSE
def rmse(y, y_hat):
    mse = mean_squared_error(y, y_hat)
    return np.sqrt(mse)

In [50]:
rmse(y_train,y_train_predict)

49504.6562478711

In [52]:
rmse(y_holdout,y_holdout_predict)

51887.90695004524

In [57]:
enet_params = {
    'alpha':np.linspace(.2,1,8),
    'l1_ratio': np.linspace(0,1,8)
}

In [58]:
enet_gridsearch = GridSearchCV(
    ElasticNet(),
    enet_params,
    cv=7,
    verbose=1,
    n_jobs=2,
    return_train_score=False
)

In [59]:
enet_gridsearch.fit(X_train_sc,y_train)

Fitting 7 folds for each of 64 candidates, totalling 448 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done 448 out of 448 | elapsed:    3.1s finished

GridSearchCV(cv=7, error_score='raise-deprecating',
       estimator=ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=2,
       param_grid={'alpha': array([0.2    , 0.31429, 0.42857, 0.54286, 0.65714, 0.77143, 0.88571,
       1.     ]), 'l1_ratio': array([0.     , 0.14286, 0.28571, 0.42857, 0.57143, 0.71429, 0.85714,
       1.     ])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
       scoring=None, verbose=1)

In [61]:
enet_gridsearch.best_params_

{'alpha': 0.2, 'l1_ratio': 0.8571428571428571}

In [62]:
best_enet = enet_gridsearch.best_estimator_
#save off the best params into a best_enet model

In [63]:
best_enet.score(X_train_sc, y_train)

0.6168850746608325

In [64]:
best_enet.score(X_holdout_sc,y_holdout)

0.670813761904924

In [66]:
#predict
y_train_enet = best_enet.predict(X_train_sc)
y_holdout_enet = best_enet.predict(X_holdout_sc) 

#RMSE
print(rmse(y_train,y_train_enet))
print(rmse(y_holdout_enet,y_holdout))

47841.48980572833
48622.88916404386